html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: CamphorPro-Regular, Open Sans, Segoe UI, sans-serif;
}

/* Header Style */
.header-filter .container {
  z-index: 2;
  position: relative;
}

/*Landing Page Styles */
.landing-page .navbar-transparent {
  padding-top: 25px;
}

/* Login Page Style */
.input-group .input-group-text {
  padding: 0 10px 0 0;
}

.card-signup .card-header {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: -40px;
  padding: 20px 0;
  margin-bottom: 15px;
}

.card-signup .card-body {
  padding: 0px 30px 0px 30px;
}

.login-page .card-signup .card-header {
  width: auto;
}

.login-page .card-signup .input-group {
  padding-bottom: 7px;
  margin: 27px 0 0 0;
}

.login .navbar-transparent {
  padding-top: 25px;
}

.login-page .page-header {
  min-height: 100vh;
  height: auto;
  display: inherit;
}

.login-page .page-header .container {
  padding-top: 25vh;
}

.login-page .footer .container {
  padding: 0;
}

.login-page .footer .copyright,
.login-page .footer a {
  color: white;
}

/* Miscallenaus CSS formatting */
.title {
  font-weight: 300;
  font-family: CamphorPro-Regular, Open Sans, Segoe UI, sans-serif;
}
