body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* Header Style */
.header-filter .container {
  z-index: 2;
  position: relative;
}

/*Landing Page Styles */
.landing-page .navbar-transparent {
  padding-top: 25px;
}

/* Login Page Style */
.input-group .input-group-text {
  padding: 0 10px 0 0;
}

.login .navbar-transparent {
  padding-top: 25px;
}

.login-page .page-header {
  min-height: 100vh;
  height: auto;
  display: inherit;
}

.login-page .page-header .container {
  padding-top: 25vh;
}

.login-page .footer .container {
  padding: 0;
}

.login-page .footer .copyright,
.login-page .footer a {
  color: white;
}
