#register {
  background: linear-gradient(rgba(4, 21, 48, 0.719), rgba(0, 0, 0, 0.89));
  display: inherit;
  height: auto;
  min-height: 100vh;
  /* padding-top: 8.5vh; */
  line-height: 1.5px;
  padding: 8em 0 4em;
}

#register .btn {
  border-radius: 50px;
  width: 100px;
}

.invalid-feedback {
  font-size: inherit;
}
/* .register::before {
  content: "";
  position: absolute;
  top: 0;
  left: 65%;
  width: 50%;
  height: 100%;
  background: #03a9f4;
  opacity: 0.8;
} */

/* .register .card {
  padding: 40px 0;
} */

/* element.style {
  color: red;
} */

/* .bmd-form-group.is-focused .bmd-help {
  display: block;
  padding: 10px;
  position: absolute;
  left: 45px;
  top: 70px;
} */

/* .bmd-help {
  color: indianred !important;
} */
