.register {
  background-color: rgb(41, 75, 128);
  color: white;
  display: inherit;
  height: auto;
  min-height: 100vh;
  padding-top: 10vh;
  line-height: 1.5px;
}

/* .register::before {
  content: "";
  position: absolute;
  top: 0;
  left: 65%;
  width: 50%;
  height: 100%;
  background: #03a9f4;
  opacity: 0.8;
} */

.register .card {
  padding: 40px 0;
}
