#home .navbar-transparent {
  background: none !important;
  box-shadow: none;
}

#home .navbar {
  transition: box-shadow 200ms ease-in;
}

#home .bg-primary {
  background-color: rgb(41, 75, 128) !important;
}
