.splash {
  padding: 12em 0 6em;
  background-color: rgb(41, 75, 128);
  /* background: linear-gradient(145deg, #349aed 50%, #34d8ed 100%); */
  color: #fff;
  text-align: center;
}

/* .splash .container {
  position: absolute;
  bottom: 0;
  z-index: 2;
  top: auto;
} */
